<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>whomade</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
</head>

<body>
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'index' %}">
            <span>
              WHOMADE
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'leaderboard' %}">LEADERBOARD</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'signup' %}">SIGN UP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin' %}"> SIGN IN</a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'profile' username=user.username %}">PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'leaderboard' %}">LEADERBOARD</a>
                        </li>
                        <form action="{% url 'logout' %}" method="POST">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
                            </li>
                        </form>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div>
    {% block content %}
    {% endblock %}
</div>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>

</html>